
<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}
<link href="{{site.baseurl}}/css/imessage.css" rel="stylesheet">

  <body>
    {% include navigation.html %}
    <div style="display:flex; padding-top:70px">
     <nav id="conversation-list">
        <div id="window-controls">
            <button id="close">x</button>
            <button id="minimize">–</button>
            <button id="maximize">+</button>
        </div>
        <div id="controls">
            <i class="fa fa-search"></i>
            <input id="searchuser" placeholder="Search" onkeyup="myFunction()" />
            <button class="new-message">
                <i class="fa fa-edit"></i>
            </button>
        </div>
        <ol id="userOL">
            {% for post in site.posts %}
                {% if post.layout == "imessage" %}
                    <a href="{{site.baseurl}}{{post.url}}">
                        <li >
                            <div class="img">
                              <!-- <span class="initials">LC</span> -->
                              <img src="../../../../img/imessage/{{ post.file_name }}.jpg" />

                            </div>
                            <div class="message-promo">
                                <time datetime="{{ page.date }}">{{ post.date | date_to_string}}</time>
                                <p id="username" class="name">{{ post.person_name }}</p>
                                <p class="preview">{{ post.preview }}</p>
                            </div>
                        </li>
                    </a>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
    <section id="conversation">
        <aside class="info">
            <p>To:<span id="activename" class="name">{{ page.person_name }} <i class="fa fa-angle-down"></i></span> <a id="details">Details</a></p>
        </aside>
        <article id="messages">
            <div id="first">
            <time class="thread" datetime="{{ page.date | date_to_string }}">
                {% assign data = site.data.imessage[page.file_name] %}
                {% assign rows = data.size | minus: 1 %}

                {% for i in (0..rows) %}
                    {% assign last = i | minus: 1 %}
                    {% if forloop.first == true %}
                        <div class="conversation-group {{ data[i].who }}">
                            <p class="message imessage">{{ data[i].message }}</p>
                            {% continue %}
                    {% endif %}


                    {% if data[i].who == data[last].who %}
                        <p class="message imessage">{{ data[i].message }}</p>
                    {% else%}
                    </div>
                      <div class="conversation-group {{ data[i].who }}">
                        <p class="message imessage">{{ data[i].message }}</p>
                    {% endif %}

                {% endfor %}
            </time>
            </div>
        </article>
        <!-- END MESSAGES -->
        <aside id="message-input" style="display:none">
            <input  id="meassagesend" type="text" placeholder="iMessage" autofocus />
            <button class="imessage">&#8593;</button>
        </aside>
        
    </section>

    <div id="modaliphone" style="visibility: hidden;">
        <div class="imgmodal">
            <p id="modalusername" class="name">{{ page.person_name }}</p>
            <span class="modalbio">{{ page.their_bio }}</span>
            
            <div class="modalicon">
                <a href="{{ page.their_twitter }}" target="_blank">
                    <div class="twitter">
                     <i class="fa fa-twitter"></i> 
                    </div>
                </a>
                <div class="space"></div>
                <a href="{{ page.their_website }}" target="_blank">
                    <div class="globe">
                       <i class="fa fa-globe"></i> 
                    </div>
                </a>
            </div>
        </div>
    </div>

    </div>
   

    <script src="{{site.baseurl}}/js/imessage.js"></script>


    {% include footer.html %}

    {% include js.html %}

  </body>
</html>



